body {
    background-color: #2E3440;
    color: #D8DEE9;
    font-family: 'JetBrains Mono', monospace;
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    overflow: hidden;
    bottom: -50%; 
    align-items: center;

}

form {
    flex-direction: row;
}