body {
    background-color: #1a1b26;
    color: #a9b1d6;
    font-family: 'JetBrains Mono', monospace;
    top: 40%;
    position: fixed;
    left: 40%;
    justify-content: center;
    text-align: center;
}

