body {
    background-color: #2E3440;
    color: #D8DEE9;
    font-family: 'JetBrains Mono', monospace;
    overflow: hidden;
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    line-height: 0.1;
    text-align: center;
    justify-content: center;
}

.list {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    color: #A3BE8C;
    font-size: 16px;
}

.list div {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: auto;
    justify-content: center;
}

.edit {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    bottom: 0;
    position: absolute;
    margin-bottom: 40px;
    color: #BF616A;

}

.title {
    font-size: 32px;
}

a:visited, a:link, a:active {
    color: #a9b1d6;
    text-decoration: none;
    font-size: 26px;
    text-indent: 2px;
    line-height: 1.5;
}

a:hover {
    color: #D08770 !important
}

#greeting {
    font-size: 38px;
    font-weight: 100;
    color: #8FBCBB;
}

#time {
    font-size: 48px;
    animation:blinking 5s infinite;
    }
    @keyframes blinking{
    0%{     color: #B48EAD; }
    20%{    color: #B48EAD; }
    40%{    color: #B48EAD; }
    60%{    color: #B48EAD; }
    80%{    color: #B48EAD; }
    100%{   color: #B48EAD; }
}
