<html>
  <head>
    <link rel="stylesheet" type="text/css" href="new_tab.css">
    <script src="new_tab.js"></script>
    <title>New_Tab</title>
  </head>
  <body>
    <div class="info">
      <p id="time"></p><br>
      <h1 id="greeting"></h1>
    </div>
    <div class="list">
      <% titles.forEach(y => { %>
        <div class="<%= y[1] %>">
          <h1><%= y[1] %></h1>
          <% data[y[1]].forEach(x => { %>
            <a href="<%= x[2] %>" id="<%= x[1] %>"><%= x[1] %></a><br>
          <% }); %>
        </div>
      <% }); %>
    </div>
  </body>
</html>