<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/new_tab.css">
    <script src="scripts/new_tab.js"></script>
    <title>New_Tab</title>
  </head>
  <body>
    <div class="info">
      <p id="time"></p><br>
      <h1 id="greeting"></h1>
    </div>
    <div class="list"></div>
    <div class="edit">
      <h1 class="title">edit</h1>
      <a href="templates/edit_name.html">name</a>
      <a href="templates/edit_titles.html">titles</a>
      <a href="templates/edit_col1.html">column one</a>
      <a href="templates/edit_col2.html">column two</a>
      <a href="templates/edit_col3.html">column three</a>
    </div>
  </body>
</html>